@charset "utf-8";

body {
	font-family: 'Raleway', sans-serif;
}

h3 {
    line-height: 44px;
    font-size: 1.95em;
    font-weight: 900;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}


.navigation {
    height: 100px;
    float: right;
}

.nav-item {
    line-height: 100px;
    font-weight: 500;
    text-transform: uppercase;
    float: left;
    margin-left: 1.88em;
    font-size: 0.8em;
}

.nav-item a {
    text-decoration: none;
    color: #232B2D;
    transition: all .25s;
}

.nav-item a:hover {
    color: #FAC4C4;
}

.intro {
    margin-top: 10px;
    margin-bottom: 60px;
    width: 100%;
    float: left;
    color: #232B2D;
}

.emphasize {
    color: #FAC4C4;
}


