.carousel-container 
  width: width(8)
  height: 500px
  margin-right: auto
  margin-left: auto
  box-sizing: border-box
  white-space: nowrap
  overflow: hidden
  position: relative

.carousel
  width: 300%
  height: 500px

.carousel-items
  box-sizing: border-box
  width: 33.3%
  display: inline-block
  position: relative
  height: 100%


.carousel.carousel-move 
  position: absolute
  transform: translateX(0px)
  transition: .5s

.carousel.carousel-move-second 
  position: absolute
  transform: translateX(-33.4%)
  transition: .5s


.carousel.carousel-move-third 
  position: absolute
  transform: translateX(-67%)
  transition: .5s

.carousel-button-container
  margin-right: auto
  margin-left: auto
  display: flex
  justify-content: center


.control-panel
  width: 100%
  position: absolute
  bottom: 0
  height: 10.5vh

.carousel-button
  margin: 4px
  height: 8px
  width: 8px
  border-radius: 4px
  border: none
  padding: 0
  background-color: $gray

.carousel-button
  &:focus
    background-color: $primary-color
