$breakpoint: 750px

$boxes: box-1, box-3, box-4, box-5, box-6, box-7, box-8, box-9, box-10, box-12, box-13, box-14, box-15, box-16

@each $boxes in $boxes
  .#{$boxes}
    background: url("../indurge_assets/#{$boxes}.png")

.wrapper
  background-repeat: no-repeat
  background-image: url(../indurge_assets/header-bg.png)
  background-position: top center


[class*="box-"]
  background-repeat: no-repeat
  background-size: cover
  background-position: center
