body
  font-size: 16px
  font-family: 'Lato', sans-serif


h2 
  font-family: 'Lato', sans-serif
  font-weight: $hairline
  font-size: 1.6875em
  line-height: 1.5556em
  margin-top: 1.5556em

h3
  font-family: 'Lato', sans-serif
  font-weight: $thin
  font-size: 1.125rem
  line-height: 1.3636em
  margin-top: 1.3636em

h4 
  font-family: 'Lato', sans-serif
  font-weight: $thin
  font-size: 1.1250em

h5
  font-family: 'Lato', sans-serif
  font-weight: $thin
  font-size: 1.125rem
  line-height: 1.3636em
  margin-top: 1.3636em

p
  font-family: 'Lato', sans-serif
  font-weight: $thin
  font-size: 1em
  line-height: 1.8125em
  margin-top: 1.8125em
  margin-bottom: 0.0000em

footer
  font-family: 'Lato', sans-serif
  font-weight: $thin
  font-size: 0.8750em

@media (min-width: $type-mid-breakpoint)
  h3
    font-size: 1.25rem
    line-height: 1.3636em
    margin-top: 1.3636em
  h2 
    font-size: 2.0000em
    line-height: 1.1875em
    margin-top: 1.1875em
    margin-bottom: 0.0000em


@media (min-width: $type-breakpoint)
  h3
    font-size: 1.375rem
    line-height: 1.3636em
    margin-top: 1.3636em

@media (min-width: $breakpoint)
  h5
    font-size: 0.8750em
    line-height: 1.5000em
    margin-top: 1.5000em