.yellow
  background-color: #f8f7d9

.title_yellow
  color: #d2cba9

.green
  background-image: linear-gradient(-180deg, #E5FDFF 0%, #D4F5F7 100%)

.title_green
  color: #11A79C

.blue
  background-color: #dbf2ff

.title_blue 
  color: #3385FF

.skyblue
  background-color: #e1edfe

.title_skyblue
  color: #0066ff

.orange
  background-color: #ffe5e9

.title_orange
  color: #f2544b

.purple
  background-color: #e5eafe

.title_purple
  color: #4E61FF

.gray
  background-color: #F9F9FC

.dark
  background-image: radial-gradient(50% 140%, #0d0d5a 50%, #0A0A44 100%)
