.image_half
  width: 44%
@media screen and (max-width: 800px)
  .image_half
    width: 100%

.image_half38
  width: 38%
@media screen and (max-width: 800px)
  .image_half38
    width: 100%

.image_80
  width: 80%
  display: block
  margin-left: auto
  margin-right: auto
@media screen and (max-width: 800px)
  .image_80
    width: 100%


.image_81
  width: 81%
  display: block
  margin-left: auto
  margin-right: auto

.image_refinery
  max-width: 400px
  display: block
  margin-left: auto
  margin-right: auto



.insight
  max-width: 600px
  display: block
  margin:
    left: auto
    right: auto

.image_max
  max-width: 360px
  display: block
  margin:
    right: auto
    left: auto

.image_shadow
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.17)

.border_radius
  border-radius: 4px

.flex-container
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.flex-space-around
   display: flex
   justify-content: space-around
   flex-wrap: wrap

.flex-center
  display: flex
  justify-content: center
  flex-wrap: wrap

.flex-media
  display: flex
  justify-content: inherit
@media screen and (max-width: 600px)
  .flex-media
    justify-content: space-between

.media
  width: auto
  padding-right: 56px
  display: block
  height: auto
@media screen and (max-width: 600px)
  .media
    padding-right: 24px

.last_element
  padding-right: 0px

.above-image
  margin-top: 16px


.side-padding
  box-sizing: border-box
  padding:
    left: 5%
    right: 5%

.logosize
  height: 36px
  width: 36px

.shadow
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.18)

.hline 
  height: 1px 
  background: #e5ebf7

.user_interview
  height: 100%
  max-width: 684px
  margin-bottom: 8px
  border-radius: 4px
  //box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05)


.video_settings
  display: block
  margin:
  	left: auto
  	right: auto
  max-width: 79.87%
  height: auto

.video_settings_fit
  display: block
  margin:
  	left: auto
  	right: auto
  max-width: 100%
  height: auto





