.image_half
  width: 44%
@media screen and (max-width: 800px)
  .image_half
    width: 100%

.image_shadow
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.17)

.border_radius
  border-radius: 4px

.flex-container
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.flex-center
  display: flex
  justify-content: center
  flex-wrap: wrap

.flex-media
  display: flex
  justify-content: inherit
@media screen and (max-width: 600px)
  .flex-media
    justify-content: space-between

.media
  width: auto
  padding-right: 56px
  display: block
  height: auto
@media screen and (max-width: 600px)
  .media
    padding-right: 24px


.above-image
  margin-top: 16px


.side-padding
  box-sizing: border-box
  padding:
    left: 5%
    right: 5%

.logosize
  height: 40px
  width: 40px

.shadow
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.18)

.hline 
  height: 1px 
  background: #e5ebf7
