h1, h2, h3, h4, h5, p {
  font-family: calibri, sans-serif;
  font-weight: 400;
}

h4 {
  font-size: 15px;
  line-height: 24px;
}

h5 {
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  padding-top: 10px;
}

p {
  font-size: 17px;
  line-height: 1.9rem;
}


$bp-sizes: (
  xxs: (
    base-font-size: 15 * ( 250 / 540 ) * 1px,
    base-line-height: 1.5,
    scale: 1.5
  ),
  xs: (
    base-font-size: 15 * ( 250 / 540 ) * 1px,
    base-line-height: 1.5,
    scale: 1.5
  ),
  s: (
    base-font-size: 15 * ( 340 / 540 ) * 1px,
    base-line-height: 1.5,
    scale: 1.5
  ),
  m: (
    base-font-size: 15px, 
    base-line-height: 1.5,
    scale: 1.5
  )
);

$headings: (h6, h3, h2, h1);


@each $size, $data in $bp-sizes {

  $bsf: get-breakpoint-property(base-font-size, $size);
  $blh: get-breakpoint-property(base-line-height, $size);
  $s: get-breakpoint-property(scale, $size);

  @include breakpoint($size) {
    @each $label in $headings {
      #{$label} {
        @include generate-font-properties($label, $bsf, $blh, $s);
      } 
    }
  }
}

.font-weight-light {
  font-style: normal;
  font-weight: 300;
}

.font-weight-regular {
  font-style: normal;
  font-weight: 400;
}

.font-weight-bold {
  font-style: normal;
  font-weight: 700;
}

.text-color-white {
  color: #fff;
}

.text-color-blue {
  color: #72AAFF;
}

.quote {
  font-weight: 300;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  max-width: 540px;
  text-align: center;
  display: block;
  margin: auto;
  padding-top: 20px;
  font-family: calibri, sans-serif;
}
