$btn-transparent-default-bg: transparent
$btn-transparent-txt: #fff
$baseline: 21px
$breakpoint: 750px


.btn-transparent
  height: $baseline * 2
  box-sizing: border-box
  color: $btn-transparent-txt
  background-color: $btn-transparent-default-bg
  border: 1px solid #fff
  text-transform: uppercase
  font-size: 1.125rem
  &:hover
    background-color: #fff
    color: #003652


.fa
  margin-right: 5px

.btn-transparent-small
  height: $baseline
  box-sizing: border-box
  color: $btn-transparent-txt
  background-color: $btn-transparent-default-bg
  border: 1px solid #fff
  font-size: 0.875rem
  font-weight: 300
  width: 66%
  position: absolute
  bottom: $baseline * 1.5
  transform: translateX(50%)
  right: 50%
  &:hover
    background-color: #fff
    color: #7e6061


@media (min-width: $breakpoint)
  .btn-transparent-small
    height: $baseline * 1.5


