
body {
  /*background: url("images/Leading-27px.png");*/
/*  background-image: linear-gradient(180deg, transparent 95%, #7045cf 95%);
  background-size: 1px 24px;
*/}

.wrapper {
    max-width: 1100px;
    /*height: 100%;*/
    margin: auto;
    position: relative;
}

.main-content {
    width: 80%;
    float: right;
    margin-bottom: 200px;
}

/*===============================
Typography Styling
===============================*/

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 3.8146em;
    line-height: 1.18;
    margin-bottom: 0.3933em;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 3.0517em;
    line-height: 1.48;
    margin-bottom: .4916em;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2.441em;
    line-height: 1.85;
    margin-bottom: .6146em;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.953em;
    line-height: 1.54;
    margin-bottom: .7681em;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.5625em;
    line-height: 1.92;
    margin-bottom: .96em;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: 1.2em;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1.2em;
}

/*nav.sidebar {
    float: left;
	width: 25%;
}

div.main-content {
    width: 75%;
    float: right;
}*/

/*===============================
Titling Typography Rule
===============================*/

.section-title-style {
    margin-top: 96px;
    overflow: hidden;
    border-bottom: 1px solid #d2d2d2;
    /* color: #d2d2d2; */
}

.inner-title-style {
    padding-top: 48px;
    padding-bottom: 24px;
}

.section-container {
    padding-bottom: 24px;
    overflow: hidden;
}

/*===============================
Sidebar Nav Styling
===============================*/

.sidebar {
    padding: 30px;
    position: fixed;
    float: left;
    margin-top: 58px;
/*    margin-left: 30px;
*/    box-sizing: border-box;
}

.sidebar a {
    text-decoration: none;
    color: #303335;
}

.sidebar a:hover {
    display: block;
    background-color: hsla(0, 0%, 82%, 0.2);
    outline: 15px solid hsla(0, 0%, 82%, 0.2)
}

.sidebar-item {
    padding-top: 24px;
}

.sidebar-item-bottom {
    padding-top: 24px;
}


/*===============================
Typography Section Styling
===============================*/

.type-sample {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.type-description {
    float: left;
    width: 50%;
    box-sizing: border-box;
    color: #d2d2d2;
}

.headings-typography {
    overflow: hidden;
}

/*===============================
Color Section Styling
===============================*/

.color-box-container {
    overflow: hidden;
}

.gray-box-frame {
    float: left;
    width: 250px;
    height: 250px;
    background-color: hsla(0, 0%, 82%, 0.4);
    margin-right: 30px;
    margin-bottom: 30px;
}

.box {
    float: left;
    width: 250px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 4px 4px 0 0;
    text-align: center;
    line-height: 200px;
    font-weight: 300;
    color: hsla(0, 0%, 100%, 0.70);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
}

.color-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    text-align: center;
    line-height: 50px;
    color: hsla(0, 0%, 30%, 0.70);
}


.box.one {
    background-color: #FCB409;
}

.box.two {
    background-color: #63A2FC;
}

.box.three {
    background-color: #44CB83;  
}

.box.four {
    background-color: #7171EF;
}

.box.five {
    background-color: #FF5448;
}

.box.six {
    background-color: #787F94;
}
.box.seven {
    background-color: #333741;
}

.box.eight {
    background-color: #586077;
}

.box.nine {
    background-color: #787F94;
}

.box.ten {
    background-color: #bac2d0;
}

.box.eleven {
    background-color: #d9e0e9;
}

/*===============================
List Style Section Styling
===============================*/

.ul-example {
    width: 100%;
    box-sizing: border-box;
    list-style-type: disc;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1.2em;
}

.ol-example {
    width: 100%;
    box-sizing: border-box;
    list-style-type: decimal-leading-zero;
    margin-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1.2em;
}

.dl-example {
    width: 100%;
    box-sizing: border-box;
    list-style-type: decimal-leading-zero;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1.2em;
    display: block;
}

/*===============================
Table Style Section Styling
===============================*/
th, td {
    height: 48px;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    font-family: 'Open Sans', sans-serif;
}

.first-table {
    margin-bottom: 30px;
}

.first-table-th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-weight: 900;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1.2em;
    vertical-align: middle;
    background-color: rgba(210, 210, 210, 0.17);
}

.table-left-col {
    text-align: left;
    padding-left: 30px;
}

.table-right-col {
    text-align: center;
}

.second-table-th {
    border-bottom: 1px solid #000;
    font-weight: 900;
}

.border-bottom-dotted {
    border-bottom: 1px dotted #d2d2d2;
}

.border-bottom-bold {
    border-bottom: 1px solid #000;
}
