body
  max-width: 1024px
  margin: auto
  height: 100vh
  position: relative

nav
  height: 60px
  background: #FFFFFF
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.17)
  padding:
    left: 5%
    right: 5%
  ul
    display: flex
    float: right
    li
      margin:
        left: 40px

.title
  float: left
  line-height: 60px
  font-weight: bolder


.nav
  line-height: 60px
  text-decoration: none
  color: black


main
  position: absolute
  top: 50%
  transform: translateY(-50%)
  padding:
    left: 5%
    right: 5%

.email
  color: red

.mobile
  color: red