body
  width: 100%
  position: relative


.index
  height: 100vh


.nav-wrapper
  position: fixed
  width: 100%
  z-index: 5
  height: 120px
  background: #FFFFFF
  opacity: 
  //box-shadow: 0px 3px 2px 1px rgba(0,0,0,0.17)

.content-nav-wrapper
  position: absolute
  width: 100%
  z-index: 5
  height: 120px 

.second-nav-wrapper
  max-width: 1024px
  margin: auto
  height: 100%



nav
  height: 100%
  margin: auto
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
  padding:
    left: 5%
    right: 5%
  ul
    display: flex
    float: right
    li
      margin:
        left: 40px


.logo
//  float: left
//  line-height: 120px

.nav
  font-family: calibri
  font-size: 15px
  text-decoration: none
  color: black
  transition: .2s linear
  &:hover
    color: $primary
  &:selected
    color: $primary

.nav.chosen
  color: $primary

.nav.work
  color: $primary

.wrapper
  margin: auto
  position: relative
  height: 100%


main
  max-width: 1024px
  height: 100%
  margin: auto
  position: relative

.intro
  display: block
  margin: auto
  padding-top: 26%
  padding:
    left: 5%
    right: 5%
@media screen and (max-width: 500px)
  .intro
    padding-top: 40%



.introtext
  // line-height: 40px
  margin: auto

.weblink
  text-decoration: none
  background: -webkit-linear-gradient(#FF78BA, $primary)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  //color: $primary
  transition: all .3s ease-out
  &:hover
    transition: all .3s ease-out
    box-shadow:  0 -1px 0 0 white inset, 0 -4px 0 0 $primary inset

.email
  color: $primary

.mobile
  color: $primary

.title
  &:hover
    color: black
  a
    &:hover
      color: black


.footer
  padding:
    top: 10%
    bottom: 15%
  display: flex
  justify-content: center

  .copyright
    font-family: calibri
    font-size: 14px