.content
  margin-top: 8%
  padding:
    left: 5%
    right: 5%

.paragraph_content
  margin-bottom: 3%

img
  width: 100%
  height: auto
  maz-width: 100%

.paragraph_title
  line-height: 80px


footer
  height: 100px