
.paragraph_content
  margin-bottom: 3%

img
  width: 100%
  height: auto
  max-width: 100%

.paragraph_title
  padding-bottom: 24px

.img_productflow
  margin-bottom: 40px

.img_targetuser
  max-width: 300px
  height: 100%
  padding:
    left: 12px
    right: 12px
    bottom: 24px

.questions
  height: 100vh

.section_yellow
  height: auto
  background-color: #f0eadd

.section_orange
  height: auto
  background-color: #ffece7

.section_blue
  height: auto
  background-color: #dbf2ff

.section_green
  height: auto
  background-image: linear-gradient(-180deg, #E5FDFF 0%, #D4F5F7 100%)

.section_gray
  height: auto
  background-color: #F9F9FC


.section_purple
  height: auto
  background-color: #e5eafe


.section_dark
  height: auto
  background-color: #28323C

.section_intro
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.section_intro_content
  width: 64%
@media screen and (max-width: 900px)
  .section_intro_content
    width: 100%

.details
  width: 32%
@media screen and (max-width: 900px)
  .details
    width: 100%

.padding_top_s
  padding-top: 10px

.padding_top_m
  padding-top: 20px

.padding_top_mm
  padding-top: 30px

.padding_top_l
  padding-top: 40px

.padding_top_xl
  padding-top: 50px

.padding_bottom_s
  padding-bottom: 10px

.padding_bottom_m
  padding-bottom: 30px

.padding_bottom_l
  padding-bottom: 40px

.margin_bottom_60
  margin-bottom: 60px

.image_content
  padding:
    top: 80px
    bottom: 80px

.text_content
  padding:
    left: 10%
    right: 10%
    top: 80px
    bottom: 80px

.padding_bottom_xs
  padding-bottom: 10px

.padding_top_xs
  padding-top: 10px

.content
  max-width: 1024px
  margin:
    left: auto
    right: auto


.cover
  padding-top: 200px
  
.coverimg
  max-width: 850px
  display: block
  margin:
    left: auto
    right: auto
    top: 94px

.centeredtext
  text-align: center

.spacing
  padding-top: 20px

