.project_list
  position: absolute
  width: 100%
  margin-top: 8%
  padding:
    left: 5%
    right: 5%
  li
    h4
      a
        text-decoration: none
        color: black
        &:hover
          color: $primary
          transition: .1s linear



.projectcatalogue
  display: block
  position: relative
  padding:
    top: 18%
    left: 5%
    right: 5%
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.projectpreview
  width: 48%
  height: auto
  margin:
    top: 4%
  overflow: hidden
  border-radius: 4px
@media screen and (max-width: 500px)
  .projectpreview
    width: 100%

.frame
  border-radius: 4px
  overflow: hidden


.zoom
  height: 100%
  transition: transform .3s
  &:hover
    transform: scale(1.03)
          