.project_list
  position: absolute
  width: 100%
  margin-top: 8%
  padding:
    left: 5%
    right: 5%
  li
    h4
      a
        text-decoration: none
        color: black
        &:hover
          color: $primary
          transition: .1s linear



.projectcatalogue
  display: block
  position: relative
  padding:
    top: 18%
    left: 5%
    right: 5%

.projectrow
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.projectpreview
  width: 48%
  min-width: 360px
  height: auto
  background-color: #fff
  padding:
    top: 4%
          