.content-wrapper
	position: absolute
	top: 100%
	width: 100%
	min-height: 12%
	z-index: 2
	background: white

.second-wrapper
	box-sizing: border-box
	width: 960px
	margin: auto
	padding-left: 48px
	padding-right: 48px
	padding-top: 48px
	padding-bottom: 72px