.faq
	background-color: $darkblueberry
	color: #fff

.flex-container
	display: flex
	justify-content: space-between
	flex-wrap: wrap

.unit
	width: 45%

.question
	margin-bottom: 20px
	margin-top: 0px

.answer
	font-family: 'Neuton', serif
	font-weight: 200
	font-size: 16px
	line-height: 26px
	letter-spacing: 0.04em
	color: #fff
	position: relative
	padding-left: 32px
	margin-bottom: 64px
	&::before
		font-family: 'Montserrat', sans-serif
		content: 'A :'
		font-weight: 200
		font-size: 20px
		position: absolute
		top: 0
		left: 0px
.answer.last
	margin-bottom: 22px



.email-link
	color: #F3E7E9
