// Font Link

@font-face {
  font-family: WeatherAndTime;
  src: url(../font/weatherandtime/Weather&Time.ttf) format('truetype');
}

%libre-thin {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: $thin;
}

%libre-light {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: $light;
}

%libre-medium {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: $medium;
}

h1 {
  @extend %libre-thin;
}

h2 {
  @extend %libre-light;
}

h3 {
  @extend %libre-light;
}

h4 {
  @extend %libre-light;
}

$bp-sizes: (
  xs: (
    base-font-size: 16 * ( 320 / 414 ) * 1px,
    base-line-height: 1.5,
    scale: 1.5
  ),
  s: (
    base-font-size: 16 * ( 375 / 414 ) * 1px,
    base-line-height: 1.5,
    scale: 1.5
  ),
  m: (
    base-font-size: 16px, 
    base-line-height: 1.5,
    scale: 1.5
  )
);

$headings: ( h4, h3, h2, h1);


@each $size, $data in $bp-sizes {

  $bsf: get-breakpoint-property(base-font-size, $size);
  $blh: get-breakpoint-property(base-line-height, $size);
  $s: get-breakpoint-property(scale, $size);

  @include breakpoint($size) {
    @each $label in $headings {
      #{$label} {
        @include generate-font-properties($label, $bsf, $blh, $s);
      } 
    }
  }
}

h5 {
  font-family: WeatherAndTime;
  font-size: 32px;
}






