$breakpoint: 750px
$baseline: 21px
$bold: 700

.logo
  img
    position: absolute
    transform: translateX(50%)
    right: 50%
    top: ( $baseline * 4 ) - 4px

.logo-container
  height: 9 * $baseline
  border-bottom: 1px solid rgba(255,255,255,0.4)
  margin-left: 20px
  margin-right: 20px

.navigation
  margin-top: 2 * $baseline
  height: $baseline * 3
  vertical-align: middle
  width: 100%
  a
    color: #fff
    text-decoration: none
  display: flex
  justify-content: space-around

.icon
  float: left
  margin-right: 6px

.hidden
  display: none

@media (min-width: $breakpoint)
  .logo
    img
      top: ( $baseline * 5 ) - 4px
  .logo-container
    border-bottom: none
  .navigation
    height: $baseline
    display: block
  .navigation-left
    float: left
    padding-right: 1.25rem
    a
      &:hover
        font-weight: $bold
  .navigation-right
    float: right
    padding-left: 1.25rem
    a
      &:hover
        font-weight: $bold
  .hidden
    display: inline-block
  .icon
    margin-right: 6px
    height: 18px
    width: auto
  .reverse-hidden
    display: none



