// Grid Variables
$baseline: 8px;
$gutter: 1%;
$column: 7.25%;


// Breakpoint Variables
$breakpoints: ( 
  xxs: 0px, 
  xs: 320x, 
  s: 375px, 
  m: 540px 
  );


// Font Variables
$thin: 300;
$light: 400;
$medium: 700;


// Color Variables
$primary: #FF5165;