// Grid Variables
$baseline: 8px;
$gutter: 1%;
$column: 7.25%;


// Breakpoint Variables
$breakpoints: ( 
  xs: 320px, 
  s: 375px, 
  m: 414px 
  );


// Font Variables
$thin: 100;
$light: 200;
$medium: 400;
