/*.container {
    height: 300px;
}

.temp {
    height: 24px;
    background-color: #000;
}

.row {
    margin-bottom: 24px;
}*/


.wrapper {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}