main
  +mq(md)
    width: 315px * 3
    margin:
      left: auto
      right: auto
  +mq(lg)
    width: $column-l * 4 + $gutter-l * 3
    float: left

.script-red
  color: $red
  font-size: 1.2500em
  line-height: 2.4000em

.paragraph-style
  color: $text-black
  font-size: 0.7500em
  line-height: 2.0000em
  text-align: justify

.footnote-style
  text-align: right
  font-size: 0.7500em
  line-height: 4.0000em
  color: $text-black

.wood-header-txt
  text-align: center
  color: $wood

.button-korean-txt
  color: $red
  font-size: 1.1250em

.restaurant-information
  background: url("../assets/bg_wood.jpg")
  padding-top: $leading * 2
  position: relative
  padding-bottom: $leading
  h2
    &:before,
      content: ''
      +size(55px, 44px)
      background: url("../assets/ribbon.png")
      background-size: contain
      background-repeat: no-repeat
      @extend %horizontal-center
      left: 0
      top: -3px
  +mq(md)
    +height($leading, 14)
  +mq(lg)
    float: left


.restaurant-about
  padding-top: $leading
  +height($leading, 8)
  color: $white
  h3
    text-align: center
    font-size: 1.5em
    line-height: $leading
    text-shadow: 0 0px 6px rgba(#000, .8)

.flex-container
  +mq(md)
    display: flex
    flex-direction: row
    justify-items: center


.content-box
  +height($leading, 5)
  +center-container(auto, 87.5%)
  +border($wood)
  border-radius: 4px
  text-align: center
  margin-top: $leading
  color: $wood
  +mq(md)
    +size(224px, $leading * 7)
    margin-top: $leading * 2
  +mq(lg)
    float: left
  h3
    text-transform: uppercase
    font-weight: $thin

.menu-container
  box-sizing: border-box
  padding:
    left: $bleed-s
    right: $bleed-s
  text-align: center
  height: $leading * 7
  +mq(sm)
    +center-flexible-container (auto, 800px)
  +mq(md)
    width: 315px
    float: left
  +mq(lg)
    width: $column-l * 4 + $gutter-l * 3
    float: left

.news-container
  box-sizing: border-box
  padding:
    left: 20px
    right: 20px
  text-align: center
  +mq(sm)
    +center-flexible-container (auto, 800px)
  +mq(md)
    width: 315px
    float: left
  +mq(lg)
    width: $column-l * 4 + $gutter-l * 3
    float: left

.greeting-container
  box-sizing: border-box
  padding:
    left: 20px
    right: 20px
  text-align: center
  +mq(sm)
    +center-flexible-container (auto, 800px)
  +mq(md)
    width: 315px
    float: left
  +mq(lg)
    width: $column-l * 4 + $gutter-l * 3
    float: left


.menu-photo-container
  +size(100%, $leading * 5)
  align-items: center
  display: flex
  flex-direction: row
  justify-content: space-around

.menu-photo
  box-sizing: border-box
  +size($column-s * 2 + $gutter-s)
  border: solid 2px $light-gray
  border-radius: ( $column-s * 2 + $gutter-s ) / 2