%roboto
  font-family: 'Roboto', sans-serif
  font-weight: $regular

%dancing-script
  font-family: 'Dancing Script', cursive
  font-weight: $regular

%spoqa
  font-family: 'Spoqa Han Sans', sans-serif
  font-weight: $regular

h2
  @extend %dancing-script
  font-size: 25px

h3
  @extend %roboto
  font-size: 30px

h4
  @extend %roboto
  font-size: 23px

h5
  @extend %roboto
  font-size: 14px

h6
  @extend %roboto
  font-size: 11px

p
  @extend %spoqa
  font-size: 12px