body {
    background-image: url("../images/gallery.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.test {
    float: left;
    width: 300px;
    height: 400px;
    background-color: red;
    box-shadow: 10px 10px 5px #888888;
}