body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 2.0000em;
  line-height: 1.1875em;
  margin-top: 1.1875em;
  margin-bottom: 0.0000em;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.3750em;
  line-height: 1.3636em;
  margin-top: 1.3636em;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.1250em;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.8125em;
  margin-top: 1.8125em;
  margin-bottom: 0.0000em;
}

footer {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.8750em;
}

[class*="box-"] {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box-1 {
  background-image: url(../indurge_assets/box-1.png);
}

.box-3 {
  background-image: url(../indurge_assets/box-3.png);
}

.box-4 {
  background-image: url(../indurge_assets/box-4.png);
}

.box-5 {
  background-image: url(../indurge_assets/box-5.png);
}

.box-6 {
  background-image: url(../indurge_assets/box-6.png);
}

.box-7 {
  background-image: url(../indurge_assets/box-7.png);
}

.box-8 {
  background-image: url(../indurge_assets/box-8.png);
}

.box-9 {
  background-image: url(../indurge_assets/box-9.png);
}

.box-10 {
  background-image: url(../indurge_assets/box-10.png);
}

.box-12 {
  background-image: url(../indurge_assets/box-12.png);
}

.box-13 {
  background-image: url(../indurge_assets/box-13.png);
}

.box-14 {
  background-image: url(../indurge_assets/box-14.png);
}

.box-15 {
  background-image: url(../indurge_assets/box-15.png);
}

.box-16 {
  background-image: url(../indurge_assets/box-16.png);
}

body {
  background-color: #003652;
  color: #fff;
}

.wrapper {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-image: url(../indurge_assets/header-bg.png);
  background-size: contain;
}

.s-single-row {
  height: 168px;
}

.s-double-row {
  height: 483px;
}

[class*=row] {
  width: 100%;
}

.unit-s-1-2 {
  width: 50%;
}

@media (min-width: 750px) {
  .l-single-row {
    height: 252px;
  }
  .l-double-row {
    height: 504px;
  }
  .unit-1-2 {
    width: 50%;
  }
  .unit-2-6 {
    width: calc(100%/3);
  }
  .unit-4-6 {
    width: calc(200%/3);
  }
  .unit-2-10 {
    width: 20%;
  }
  .unit-6-10 {
    width: 60%;
  }
}

.logo-container {
  height: 210px;
}

.logo img {
  position: absolute;
  transform: translateX(50%);
  right: 50%;
  top: 80px;
}

.logo-container {
  height: 210px;
}

.navigation {
  height: 63px;
  vertical-align: middle;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navigation a {
  color: #fff;
  text-decoration: none;
}

.icon {
  float: left;
  margin-right: 6px;
}

.hidden {
  display: none;
}

@media (min-width: 750px) {
  .logo-container {
    height: 231px;
  }
  .logo img {
    top: 101px;
  }
  .navigation {
    height: 21px;
    display: block;
  }
  .navigation-left {
    float: left;
    padding-right: 1.25rem;
  }
  .navigation-left a:hover {
    font-weight: 700;
  }
  .navigation-right {
    float: right;
    padding-left: 1.25rem;
  }
  .navigation-right a:hover {
    font-weight: 700;
  }
  .hidden {
    display: inline-block;
  }
  .icon {
    margin-right: 6px;
    height: 18px;
    width: auto;
  }
  .reverse-hidden {
    display: none;
  }
}

header {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 147px;
}

strong {
  font-weight: 700;
}

.btn-transparent {
  margin-top: 38px;
  width: 180px;
}

main {
  margin-top: 168px;
}

.flex {
  width: 100%;
}

.flex-items {
  float: left;
  box-sizing: border-box;
}

.flex-items p {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
}

.float-right {
  float: right;
  text-align: right;
  margin-right: 1.5em;
}

.float-left {
  margin-left: 1.5em;
}

.float-center {
  float: none;
  text-align: center;
}

@media (min-width: 750px) {
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-row {
    flex-direction: row;
  }
  .flex-column {
    flex-direction: column;
  }
  .flex-items {
    flex-grow: 1;
  }
  [class*=group-] {
    max-height: 504px;
  }
  .group-1 {
    width: 40%;
  }
  .group-2 {
    width: 60%;
  }
  .group-3 {
    width: 60%;
  }
  .group-4 {
    width: 40%;
  }
  .group-5 {
    width: 100%;
    height: 252px;
  }
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
  .order-3 {
    order: 3;
  }
  main {
    margin-bottom: 84px;
  }
  .box-10 p {
    margin-top: 70%;
  }
}

footer {
  background-color: #141728;
}

.wrapper-footer {
  float: left;
  height: 525px;
  width: 100%;
  background-color: #141728;
}

@media (min-width: 750px) {
  .wrapper-footer {
    float: none;
    position: relative;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    height: 168px;
  }
  .bottom-logo {
    float: left;
    width: 93px;
    height: auto;
    position: absolute;
    bottom: 81px;
  }
  .footer-menu {
    padding-top: 69px;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footer-items a {
    text-decoration: none;
    color: #fff;
    vertical-align: baseline;
    margin-left: 13px;
    margin-right: 13px;
  }
}

.btn-transparent {
  height: 42px;
  box-sizing: border-box;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: 1.125rem;
}

.btn-transparent:hover {
  background-color: #fff;
  color: #003652;
}

.fa {
  margin-right: 5px;
}

.btn-transparent-small {
  height: 31.5px;
  box-sizing: border-box;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 0.875rem;
  font-weight: 300;
  width: 140px;
  position: absolute;
  bottom: 31.5px;
  transform: translateX(50%);
  right: 50%;
}

.btn-transparent-small:hover {
  background-color: #fff;
  color: #7e6061;
}

.tope {
  background-color: #756162;
  text-align: center;
  position: relative;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 8px;
}

/*# sourceMappingURL=../map/main.css.map */