@media (max-width: 750px) {
#nav {
  padding: 0px;
  text-align: left;
  position: fixed;
  height: 360px;
  top: 0;
  padding-left: 10%;
  width: 90%;
  max-width: 700px;
  background: #725056;
  box-shadow: -3px 0 10px rgba(0,0,0,0.2);
}
#nav:not(:target) {
  left: -100%;
  transition: left .5s;
}
#nav:target {
  left: 0;
  transition: left .5s;
}

.close-icon {
  font-weight: 700;
  opacity: .8;
}

.navigation-left h4 {
  font-size: 1em;
  line-height: 1.5000em;
  margin-top: 1.5000em;
}
.fa-times {
  margin-top: 40px;
  font-size: 1.2em;
}
.slider-menu {
  margin-top: 30px;
}
}