html, body {
	width: 100%;
	height: 100%;
	background-image: radial-gradient(#fff 15%, #fff1e2 75%);
	background-size: contain;
	background-repeat: no-repeat;
}

.fa {
	margin-left: -7px;
	font-size: 7px;
	position: absolute;
	top: 13px;
	color: #50c1d1;
}

.buttonset-movie-control {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.buttonset-movie-control [class*="button-"] {
	border-style: solid;
	border-width: 1px;
}

.buttonset-movie-control > button {
	float: left;
	color: #717062;
	background-image: linear-gradient(180deg, #fff 70%, #fff1e2 99.9%);
	width: 80px;
	height: 50px;
	text-shadow: 0 1px 2px rgba(255,255,255,0.9);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.buttonset-movie-control > button:hover/*,
.buttonset-movie-control > .on*/
 {
	background-image: linear-gradient(180deg, #534d4a 0, #534d4a 90%);
	color: #000;
	text-shadow: none;
}

.button-play {
	height: 50px;
	border-radius: 25px 0 0 25px;
}

.button-pause {
}

.button-stop {
	border-radius: 0 25px 25px 0;
}


