p
	font-family: 'Neuton', serif
	font-size: 20px
	font-weight: 300
	line-height: 32px

h4
	font-family: 'Montserrat', sans-serif
	font-weight: 800
	font-size: 32px
	color: $blueberry
	position: relative
	// &::before
	// 	content: ''
	// 	position: absolute
	// 	top: -16px
	// 	width: 25px
	// 	height: 4px
	// 	background-color: $rust
	&::after
		content: ''
		position: absolute
		top: 60px
		left: 0
		width: 25px
		height: 4px
		background-color: $rust

h5
	font-family: 'Montserrat', sans-serif
	font-weight: 200
	font-size: 20px
	line-height: 30px
	color: #fff
	position: relative
	padding-left: 32px
	&::before
		content: 'Q :'
		position: absolute
		top: 0
		left: 0px
