.square {
  outline: 3px solid red;
  position: relative;
  width: 50%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;

}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}



/*===============================
Typography Styling
===============================*/
h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 3.8146em;
    line-height: 1.18;
    margin-bottom: 0.3933em;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 3.0517em;
    line-height: 1.48;
    margin-bottom: .4916em;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2.441em;
    line-height: 1.85;
    margin-bottom: .6146em;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.953em;
    line-height: 1.54;
    margin-bottom: .7681em;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.5625em;
    line-height: 1.92;
    margin-bottom: .96em;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: 1.2em;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1.2em;
}




/*===============================
Base Sizing
===============================*/

body {
    /* background-image: linear-gradient(180deg, transparent 95%, #7045cf 95%); */
    background-size: 1px 24px;
}

.wrapper {
    max-width: 940px;
    /*height: 100%;*/
    margin: auto;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: #303335;
}


/*===============================
Page-Header & Nav Styling
===============================*/
.top-nav-bar {
    box-sizing: border-box;
    position: absolute;
    float: left;
    width: 100%;
    height: 72px;
    background-color: #F5F7F8;
    padding-right: 80px;
    padding-top: 25px;
}

.right-side-nav {
    float: right;
}

.nav-item {
    margin-left: 40px;
    float: left;
}

.nav-item > a {
    text-decoration: none;
    color: #303335;
}

/*===============================
About Career Styling
===============================*/
.about-career {
}


.timeline-card {
    box-sizing: border-box;
    padding-left: 80px;
    margin-bottom: 24px;
    float: left;
    width: 100%;
    height: 456px;
    background-color: #ECEFF1;
}

.timeline-txt-container {
    position: absolute;
    top: 140px;
    width: 380px;
}


.designer-card {
    box-sizing: border-box;
    margin-right: 1.5%;
    float: left;
    width: 48.5%;
    height: 456px;
    background-color: #ECEFF1;
}

.engineer-card {
    box-sizing: border-box;
    margin-left: 1.5%;
    float: left;
    width: 48.5%;
    height: 456px;
    background-color: #ECEFF1;
}

/*===============================
Location Styling
===============================*/

.korea-card {
    margin-top: 24px;
    margin-right: 20px;
    float: left;
    width: 300px;
    height: 312px;
    background-color: #CDD7DB;
}

.newyork-card {
    margin-top: 24px;
    margin-right: 20px;
    float: left;
    width: 300px;
    height: 312px;
    background-color: #CDD7DB;
}

.home-card {
    margin-top: 24px;
    float: left;
    width: 300px;
    height: 312px;
    background-color: #CDD7DB;
}

/*===============================
Fun Stuff Styling
===============================*/

.fun-card {
    float: left;
    height: 744px;
    width: 540px;
    background-color: #F5F7F8;
    margin-top: 24px;
    margin-right: 20px;
}

.ilustration-card {
    float: left;
    height: 360px;
    width: 380px;
    background-color: #F5F7F8;
    margin-top: 24px;
}







