.mainview
  margin:
    left: $gutter + $column
    right: $gutter + $column


.location
  margin:
    top: $baseline * 4
  h3
    @extend %libre-medium

main
  margin:
    top: $baseline * 16

.temperature

.current-temperature
  display: flex
  flex-flow: row
  margin:
    top: $baseline * 1

.temperature-hi-lo
  position: absolute
  top: $baseline * 8
  right: $gutter + $column
  h3
    margin:
      top: $baseline * 1
