.mainview
  margin:
    left: $gutter + $column
    right: $gutter + $column


.location
  margin:
    top: $baseline * 4
  h3
    @extend %muli-medium

main
  margin:
    top: $baseline * 16


.current-temperature
  display: flex
  flex-flow: row
  margin:
    top: $baseline * 1
  h5
    margin:
      right: $gutter

.temperature-hi-lo
  position: absolute
  top: $baseline * 8
  right: $gutter + $column
  h3
    margin:
      top: $baseline * 1
