.panel
  width: 100%
  opacity: 0.95
  background: #FFFFFF
  box-shadow: 0px -3px 5px 0px rgba(27,52,63,0.17)
  position: absolute
  top: $baseline * 9
  overflow: hidden


.panel-nav
  width: 100%
  display: flex
  flex-flow: row
  justify-content: center
  h3
    margin:
      right: $column
      left: $column
      top: $baseline * 5
      bottom: $baseline * 5



.tweather-label
  border-bottom: 1px solid $light-gray
  padding-bottom: $baseline
  display: flex
  flex-flow: row
  justify-content: space-between
  margin:
    left: $gutter + $column
    right: $gutter + $column